
<h1>HOME!</h1>

<form method="post">
    <input type="text" name="firstname" placeholder="firstname">
<input type="text" name="lastname" placeholder="lastname">
<button type="submit">Submit</button>
</form>

<canvas id="canvas" style="border:1px solid #000;" width="500" height="100" style=""><input
id="hidden-input" type="hidden" value="data:image/png"></canvas>

<script src="/script.js" charset="utf-8"></script>
