<h1>This is the list of signers</h1>

<h2>Total signers: {{length}}</h2>
<div class="signers-wrap">
  <div class="list-signers">
    <div class="table-header1">
      Name
    </div>
    <div class="table-header2">
      Date
    </div>
    {{#content}}
    <div class="signers">{{first_name}} {{last_name}}</div>
    <div class="date-signature">{{date_signature}}</div>
    {{/content}}
  </div>
</div>
